<%- include('./include/sidebar.ejs',{page_name:'home'} ) %>
            <div class="col-lg-9 ">
                <img src="images/lady.jpg" alt="" class="im" >
                <br><br>
                <h1 class="fo">Hello</h1>
                <br>
                <p style="font-family: font-family,'Satisfy', cursive;font-size:20px;">I <b style="color:yellow"> Pooja Kushwaha </b> having 5years  of full stack Devlopment  experiance for global businesses , 
                    I offer the teachnical expertise you are seeking for  your Web Devloper position</p>

                <p style="font-family: font-family,'Satisfy', cursive;font-size:20px;">I am Pooja Kushwaha  having <b style="color:yellow">5 Yeras of Full stack </b> experiance for global businesses , 
                        I offer the teachnical expertise you are seeking for  your Web Devloper position
                        I am Pooja Kushwaha  having 5years  of full stack Devlopment  experiance for global businesses , 
                            I offer the teachnical expertise you are seeking for  your Web Devloper position</p>
                 <p style="font-family: font-family,'Satisfy', cursive;font-size:20px;">I am Pooja Kushwaha  having 5years  of full stack Devlopment  experiance for global businesses , 
                                I offer the teachnical expertise you are seeking for  your<b style="color:yellow">  Web Devloper position... </b> </p>

                    <br>
                    <br>
                    <button class="btnm">Hire Me</button>
                    <button class="btnmm">Contact Me</button>
            </div>
        </div>
    </div>
   
</body>
</html>