<%- include('./include/sidebar.ejs', {page_name:'ser'} ) %>

<div class="col-lg-9 ">
    <h1 class="fo" >Services that i offer</h1>
    <div class="row">
        <div class="col-lg-4">
            <img src="images/seo.png" alt="seo" class="itt">
            <h4  style="margin-left:100px;">SEO</h4>
            <p class="p12">Lorem Ipsum is simply dummy text is simply dummy tex of the printing and typesetting industry.</p>
        </div>
        <div class="col-lg-4">
            <img src="images/logoDesign.png" alt="seo"   class="itt">
            <h4  style="margin-left:100px;">Web Design</h4>
            <p class="p12">Lorem Ipsum is simply dummy text is simply dummy tex of the printing and typesetting industry.</p>
        </div>
        <div class="col-lg-4">
            <img src="images/devlopment.png" alt="seo"   class="itt">
            <h4  style="margin-left:60px;">Web Devlopment</h4>
            <p class="p12">Lorem Ipsum is simply dummy text is simply dummy tex of the printing and typesetting industry.</p>
        </div>
    </div>

    <div class="row" style="margin-top: 40px;">
        <div class="col-lg-4">
            <img src="images/android.png" alt="seo"   class="itt">
            <h4  style="margin-left:100px;">Android</h4>
            <p class="p12">Lorem Ipsum is simply dummy text is simply dummy tex of the printing and typesetting industry.</p>
        </div>
        <div class="col-lg-4">
            <img src="images/ios.png" alt="seo"  class="itt">
            <h4  style="margin-left:100px;">ios</h4>
            <p class="p12">Lorem Ipsum is simply dummy text is simply dummy tex of the printing and typesetting industry.</p>
        </div>
        <div class="col-lg-4">
            <img src="images/advertise.png" alt="seo"   class="itt">
            <h4  style="margin-left:60px;">Advertisment</h4>
            <p class="p12">Lorem Ipsum is simply dummy text is simply dummy tex of the printing and typesetting industry.</p>
        </div>
    </div>

    <div class="row" style="margin-top: 40px;">
        <div class="col-lg-4">
            <img src="images/design.png" alt="seo"  class="itt">
            <h4  style="text-align: center;">Logo Design</h4>
            <p class="p12">Lorem Ipsum is simply dummy text is simply dummy tex of the printing and typesetting industry.</p>
        </div>
        <div class="col-lg-4">
            <img src="images/hosting.png" alt="seo"   class="itt">
            <h4   style="text-align: center;">Web Hosting</h4>
            <p>Lorem Ipsum is simply dummy text is simply dummy tex of the printing and typesetting industry.</p>
        </div>
        <div class="col-lg-4">
            <img src="images/support.png" alt="seo"  class="itt">
            <h4   style="text-align: center;">Support</h4>
            <p class="p12">Lorem Ipsum is simply dummy text is simply dummy tex of the printing and typesetting industry.</p>
        </div>
    </div>
   

        
</div>
</div>
</div>

</body>
</html>